/* .pi {
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
  }
  
  .pi::before {
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }
  
  [class^="pi-"], [class*=" pi-"] {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-top: -0.1em;
  }
  
   */